.hero {
  position: relative;
  padding: 5vw;
  min-height: 100vh;
  background-size: cover;
  z-index: 1;
  overflow-x: hidden;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/imagens/img_fundo.webp');
    background-size: cover;
    background-position: center;
    opacity: 10;
    z-index: -1;
  }

  &__infos {
    color: silver;
    margin-top: 24px;
    padding: 16px;
    max-width: 100%;
    box-sizing: border-box;
    font-weight: bold;

    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 280px;
    margin-top: 32px;

    &-play,
    &-reiniciar,
    &-more {
      padding: 0.8rem;
      font-size: 1rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-align: center;
      width: 100%;
    }

    &-play {
      background-color: silver;
      color: black;
      font-size: 1.2rem;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;

        img {
          margin-right: 0.5rem;
          width: 20px;
          height: 20px;
        }
      }
    }

    &-reiniciar,
    &-more {
      background-color: rgba(249, 249, 249, 0.2);
      color: white;
    }

    &-more {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin-left: 110px;
    }
  }

  @media (max-width: 768px) {
    padding: 4vw;

    &__infos {
      h2 {
        font-size: 1.6rem;
      }

      p {
        font-size: 0.9rem;
      }
    }

    &__buttons {
      gap: 0.5rem;
      flex-direction: row;
    }
  }

  @media (max-width: 576px) {
    padding: 3vw;

    &__logo {
      img {
        max-width: 180px;
        display: block;
        margin-left: 42px;
      }
    }

    &__infos {
      width: 100%;
      margin-top: 220px;
      h2 {
        font-size: 1.4rem;
        color: #fff;
      }

      p {
        font-size: 0.8rem;
        color: #fff;
      }
    }

    &__buttons {
      flex-direction: column;
      align-items: center;

      &-play,
      &-reiniciar {
        width: 90%;
      }
      &-more {
        margin: 0;
      }
    }
  }
}
